@import url('https://fonts.googleapis.com/css2? family = Poppins & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Josefin + Sans: wght @ 300 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Ubuntu: wght @ 300 & display = swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
}

/*Barra-Navegação*/
.main-nav{
    max-width: 1600px;
    width: 100%;
}
.main-nav nav{
    width: 100%;
    background-color: #FFF;
    height: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 20;
}

.logo {
    position: absolute;
    top: 15px;
    left: 20px;
}

.lista-menu ul{
    list-style: none;
    position: absolute;
    top: 40px;
    left: 300px;
}

.lista-menu ul li{
    float: left;
    padding-right: 25px;
}

.lista-menu ul li a {
    color: #000;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 15pt;
}

.lista-menu ul li a:hover {
    color: #8082e2;
}

.figuras {
    position: absolute;
    float: right;
    right: 25px;
    top: 40px;
}
.figuras a{
    color: #000;
}
.figuras a:hover, .figuras-empresa a:hover{
    color: #8082e2;

}
.figuras a i{
    font-size: 25px;
    padding-right: 25px;
}

#all{
    max-width: 1600px;
    height: 700px;
    width: 100%;
    background: #fdfaef;
    position: absolute;
}

#fundo{
    height: 600px;
    width: 1300px;
    border: 1px solid white;
    box-shadow: 1px 2px 5px #b9b194;
    margin-left: 1em;
    margin-top: 50px;
    background: rgb(255, 255, 255);
}

.sessao-produto{
    margin-top: 50px;
    margin-left: 50px;
    height: 500px;
    width: 1200px;
    display: flex;
}

.container-produto{
    height: 400px;
    width: 400px;
    margin-right: 100px;
    margin-left: 125px;
    margin-top: 50px;
}

.container-produto img{
    height: 100%;
    width: 100%;
}

.container-info{
    height: 100%;
    width: 500px;
    border: 1px solid #ebebeb;
    background: #ffffff;
}

#nome-produto{

    font-size: 1.5rem;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

#preco-space{
    margin-top: 10px;
}

#cifra{
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #90a955;
    font-size: 1.1rem;
}

#preco{
    font-size: 1.6rem;
    margin-left: 5px;
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: #90a955;
}

.espaco-botao{
    display: flex;
    align-content: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 35px;
    width: 350px;
    height: 25px;
    align-items: center;
    cursor:  pointer;
}

.espaco-botao a{
    display: block;
    color: white;
    height: 100%;
    padding-left: 148px;
    font-size: 1.2rem;
    padding-right: 148px;
    padding-bottom: 7px;
    padding-top: 7px;
    background: #90a955;
    transition: ease-in 0.2s;
    justify-content: center;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
}

.espaco-botao a:hover{
    background: #C3CE64;
    transition: ease-in 0.3s;
}

.espaco-carrinho{
    margin-top: 25px;
    margin-left: 65px;
    width: 370px;
    height: 40px;
    align-content: center;
    cursor: pointer;
}

#carro{
    padding-right: 148px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 148px;
    margin-top: 5px;
    display: block;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    padding-left: 148px;
    font-size: 1.2rem;
    padding-right: 148px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid #94c759;
    color: #94c759;
    transition: ease-in 0.2s;
    cursor: pointer;
}

#checkbox{
    display: none;
}

#carro:hover{
    color: #a4fd3e;
    border: 1px solid #a4fd3e;
}

input[type="checkbox"]:checked + .espaco-carrinho #carro{
    color: white;
    background: #c1ff7a;
    border: 1px solid #c1ff7a;
}

.detalhes{
    margin-top: 65px;
    margin-left: 65px;
    width: 368px;
    height: 170px;
}

.detalhes h2{
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
}

.detalhes span{
    font-size: 0.8rem;
    font-family: sans-serif;
    line-height: 17pt;
}