.section-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #fefae0;
    position: relative;
}

.cnpj, .senha-empresa{
	outline: 0;
	width: 300px;
	height: 35px;
}

.main-login-empresa{
	display: flex;
	justify-content: center;
	z-index: 2;
	background-color: #FFF;
	height: 33%;
	width: 30%;
	border-radius: 30px;
	position: relative;
}

.main-login-empresa h1{
	font-size: 180%;
	color: #143601;
	position: absolute;
	top: 23px;
}

.cnpj{
	border: 0;
	font-family: Caviar Dreams;
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	border-radius: 20px;
	position: relative;
	top: 85px;
}

.senha-empresa{
	border: 0;
	font-family: Caviar Dreams;
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	border-radius: 20px;
	position: relative;
	top: 100px;
}

.botao{
	border: 0;
	border-radius: 30px;
	position: absolute;
	top: 138px;
	width: 50px;
	height: 50px;
	right: -23px;
	color: #FFF;
	cursor: pointer;
	background-color: #C3CE64;
}

.botao input{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 30px;
	bottom: -15px;
	right: -16px;
	opacity: 0%;
	cursor: pointer;
}

.fa-paper-plane{
	color: #FFF;
	position: absolute;
	bottom: 15px;
	right: 16px;
	font-size: 20px;
}

.botao:hover{
	transition: ease-out;
    transition-duration: 0.1s;
    transform: scale(105%);
}