@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


@keyframes mover_onda1{
    from {
    transform: translateX(-2000px);
    }
}
@keyframes mover_onda2{
    from{
    transform: translateX(-1800px);
	}
}
@keyframes mover_onda3{
    from{
    transform: translateX(-1600px);
    }
}
*{
 	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #fefae0;
    position: relative;
}
input{
	outline: 0;
	font-family: Caviar Dreams;
	padding-left: 10px;
}
#botao_login{
	font-family: 'Gowun Batang', serif;
	font-size: 15pt;
	border: 0;
	border-radius: 30px;
	width: 250px;
	height: 35px;
	position: relative;
	top: 20px;
	color: #FFF;
	cursor: pointer;
	background-color: #C3CE64;
	transition: box-shadow 0.3s cubic-bezier(0, 1.01, 0.37, 1.01);
}
#botao_login:hover{
	box-shadow: 0 0 0 2px #C3CE64;
}
.cadastro_login{
	position: absolute;
	top: 74%;
	left: 43.5%;
}
.cadastro_login p a{
	font-family: 'Gowun Batang', serif;
	text-decoration: none;
	color: #000;
}
#login{
	background-color: #FFF;
	font-family: Caviar Dreams;
	border-radius: 30px;
	width: 26%;
    height: 70%;
	z-index: 1;
	text-align: center;
}
#login form{
	position: absolute;
	left: 41%;
	top: 39.3%;
	line-height: 4em;
}
#login span {
	font-family: serif;
    position: absolute;
    right: 50%;
    top: 33%;
}
#tipo_de_usuario{
	border: 0;
    font-family: Caviar Dreams;
    box-shadow: 3px 3px 3px 0 #e5e4e2;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    position: absolute;
    top: 32%;
    right: 40.5%;
    padding: 0 0 0 12px;
}
#titulo{
	font-family: 'Gowun Batang', serif;
	font-size: 200%;
	color: #143601;
	position: absolute;
	top: 21%;
	right: 46%;
}
.ondas{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.primeira_onda{
    animation: mover_onda1 3s ease-in-out infinite alternate;
}
.respostas_login{
	width: 250px;
	height: 35px;
	border:0;
	border-radius: 15px;
	box-shadow: 3px 3px 3px 0 #E5E4E2;
}
.segunda_onda{
	animation: mover_onda2 2.5s ease-in-out infinite alternate;
}
.terceira_onda{
animation: mover_onda3 3s ease-in-out infinite alternate;
}

option{
	font-family: serif;
}

input{
	font-family: 'Gowun Batang', serif;
	position: relative;
	top: 5px;
}