body{
	font-family: Caviar Dreams;
}
	
.container-fluid{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.cadastro{
	background-color: #FFF;
	height: 400px;
	top: 19%;
	border-radius: 30px;
	margin: 0 10px 0 10px;
	display: flex;
	justify-content: center;
}

.componentes-cadastro{
	margin-top: 25px;
}

.componentes-cadastro h4{
	text-align: center;
	font-size: 22px;
}

.nome, .email, .senha, .confirmacao, .telefone, .perguntas, .btn-parte1{
	height: 60px;
	width: 100%;
	position: relative;
	top: 5px;
	left: 10px;
}

.respostas{
	height: 60px;
	width: 100%;
	position: relative;
}

.btn-parte1{
	top: 15px;
	display: flex;
	justify-content: center;
}

.nome input, .email input, .senha input, .confirmacao input, .telefone input{
	border: 0;
	outline: 0;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	font-size: 15px;
}

.col-sm-2{
	padding-top: 7px;
}

.perguntas, .respostas{
	text-align: center;
}

.btn{
	border: 0;
	border-radius: 30px;
	width: 46px;
	height: 46px;
	background-color: #C3CE64;
	padding: 0;
}

.btn input, .btn i{
	position: absolute;
}

.btn input{
	height: 46px;
	width: 46px;
	border-radius: 30px;
	right: -11px;
	opacity: 0%;
	bottom: -11px;
}

.btn i{
	color: #FFF;
	font-size: 25px;
	right: 11px;
	top: 10px;	
}

#primeira{
	display: block;
}

#segunda{
	display: none;
}

#terceira{
	display: none;
}

.tp-usuario, .data-nascimento, .genero, .cpf, .cnpj, .razao{
    height: 60px;
	position: relative;
	top: 15px;
}

.tp-usuario select, .data-nascimento input, .genero select, .cpf input, .cnpj input, .razao input{
	border: 0;
	outline: 0;
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	font-size: 15px;
	top: 10px;
	background-color: #FFF;
}

.col-sm-1.btn {
	    margin: 0 15px;
}

.genero a:not([href]):not([class]){
	text-decoration: none;
	color: #007bff;
}

.genero a:not([href]):not([class]):hover{
	color: #0056b3;
	cursor: pointer;
}

.genero span{
	font-size: 15px; 
	padding: 0 14px;
}