.main-aside-produtor {
    height: 830px;
}

.main.adicionar-endereco{
    width: 80%;
    height: 832px;
    position: absolute;
    font-family: Caviar Dreams;
}

.adicionar-endereco table{
    box-shadow: 3px 3px 3px 3px #DCDCDC;
    border-radius: 15px;
    width: 55%;
    height: 220px;
    background-color: #FFF;
    position: relative;
    top:200px;
    left: 250px;
    overflow: auto;
    border-collapse: collapse;
}

.adicionar-endereco td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 80px;
}

.adicionar-endereco td i{
    font-size: 18px;
    color: #dee69b;
}

.adicionar{
    box-shadow: 3px 3px 3px 3px #DCDCDC;
    border-radius: 15px;
    width: 51.2%;
    height: 220px;
    position: relative;
    top: 100px;
    left: 250px;
    padding: 20px;
    background-color: #FFF;
}

.adicionar-endereco h2{
    text-align: center;
}

.adicionar-endereco form{
    font-size: 17px;
    line-height: 35px;
}

input{
    outline: 0;
}

.primeira input, .segunda input, .terceira input, .quarta input, .quinta input{
    border-bottom: 1px solid #ebebeb;
    font-family: Caviar Dreams;
    padding: 0 0 5px 3px;
    font-size: 16px;
}

.primeira input{
    width: 90%;
}

.segunda input{
    width: 87.5%;
}

.terceira input{
    width: 79%;
}

.quarta input{
    width: 68.6%;
}

.quinta input{
    width: 76.6%;
}

.sexta{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.btn{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: #c3ce64;
    color: #FFF;
}

.btn i{
    position: relative;
    top: 12.5px;
    left: 14px;
    font-size: 20px;
}

.btn input{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    z-index: 1;
    position: relative;
    bottom: 33px;
    right: 14px;
    opacity: 0;
    cursor: pointer;
}
