@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


@keyframes mover_onda1{
    from {
    transform: translateX(-2000px);
    }
}

@keyframes mover_onda2{
    from{
    transform: translateX(-1800px);
	}
}

@keyframes mover_onda3{
    from{
    transform: translateX(-1600px);
    }
}

*{
 	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Caviar Dreams;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: #fefae0;
    position: relative;
}

input{
	outline: 0;
	padding-left: 10px;
}

.main-login{
	z-index: 1;
	background-color: #FFF;
	height: 70%;
	width: 26%;
	border-radius: 30px;
	position: relative;
	/*1349 500*/
}

.main-login h1{
	font-size: 200%;
	color: #143601;
	position: absolute;
	top: 8%;
	right: 35.5%;
}

.main-login p{
	font-size: 16px;
	color: #000;
	position: absolute;
	left: 50px;
	top: 112px;
}

.main-login select{
	border: 0;
	font-family: Caviar Dreams;
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	border-radius: 20px;
	width: 120px;
	height: 30px;
	position: absolute;
	padding: 0 0 0 9px;
	top: 104px;
	right: 60px;
}

.email{
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.email input{
	border: 0;
	font-family: Caviar Dreams;
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	border-radius: 20px;
	width: 250px;
	height: 35px;
	position: absolute;
	top: 19px;
	right: 16%;
	padding: 0 0 0 12px;
}

.senha{
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.senha input{
	border: 0;
	font-family: Caviar Dreams;
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	border-radius: 20px;
	width: 250px;
	height: 35px;
	position: absolute;
	top: 34px;
	right: 16%;
	padding: 0 0 0 12px;
}

.btn{
	position: absolute;
	top: 312px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.btn input{
	border: 0;
	border-radius: 30px;
	width: 250px;
	height: 35px;
	position: relative;
	top: -5px;
	right: 1%;
	color: #FFF;
	cursor: pointer;
	background-color: #C3CE64;
	transition: box-shadow 0.3s cubic-bezier(0, 1.01, 0.37, 1.01);
}

.btn input:hover {
	box-shadow: 0 0 0 2px #C3CE64;
}

.cadastro{
	position: absolute;
	top: 350px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.cadastro a{
	text-decoration: none;
    font-size: 18px;
    position: absolute;
    width: 270px;
    height: 28px;
	top: 30px;
	right: 13%;
    color: #000;
}

.cadastro a:hover{
	color: #58752b;
}

.ondas{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.primeira_onda{
    animation: mover_onda1 3s ease-in-out infinite alternate;
}

.segunda_onda{
	animation: mover_onda2 2.5s ease-in-out infinite alternate;
}
.terceira_onda{
animation: mover_onda3 3s ease-in-out infinite alternate;
}
