/*Barra-Navegação*/

.corpo-painel-produtor{
	background-color: #FAFACB;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.main-nav-produtor{
    max-width: 1600px;
    width: 100%;
}

.main-nav-produtor nav{
    width: 100%;
    background-color: #FFF;
    height: 100px;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 20;
}

.lista-menu ul{
    list-style: none;
    position: absolute;
    top: 40px;
    left: 300px;
}

.lista-menu ul li{
    float: left;
    padding-right: 25px;
}

.lista-menu ul li a {
    color: #000;
    font-family: 'Gowun Batang', serif;
    font-weight: bolder;
    font-size: 15pt;
}

.lista-menu ul li a:hover {
    color: #8082e2;
}

.figuras-produtor, .figuras-empresa{
    position: absolute;
    float: right;
    right: 25px;
    top: 40px;
}

.figuras-produtor a, .figuras-empresa a{
    color: #000;
}

.figuras-produtor a:hover, .figuras-produtor a:hover{
    color: #8082e2;

}

.figuras-produtor a i, .figuras-empresa a i{
    font-size: 25px;
    padding-right: 25px;
}

.figuras-produtor a, .figuras-produtor div, .figuras-empresa a, .figuras-empresa div{
	display: inline-block;
}

.usuario, .empresa{
	font-family: Caviar Dreams;
	position: relative;
	right: 18px;
}

/*Aside*/

.main-aside-produtor{
    width: 20%;
    background-color: #FFF;
    position: relative;
    height: 600px;
    font-family: Caviar Dreams;
    font-size: 20px;
    border-top: 1px solid #ebebeb;
    display: inline-block;
}

.main-aside-produtor nav{
    line-height: 70px;
}

.main-aside-produtor nav ul li {
    list-style: none;
}

.main-aside-produtor nav ul li a{
    color: #000;
}

/*Conteúdo*/

.main.lojas, .main.mensagem, .main.editar-perfil, .main.deletar-produtor{
    width: 80%;
    height: 600px;
    position: absolute;
    font-family: Caviar Dreams;
}

.main.lojas h1{
    padding: 45px 0 0 60px;
}

.cadastro-empresa{
    width: 55px;
    height: 55px;
    border-radius: 30px;
    background-color: #FFF;
    float: right;
    position: relative;
    right: 60px;
    top: 45px;
    transition: box-shadow 0.3s cubic-bezier(0, 1.01, 0.37, 1.01);
}

.cadastro-empresa i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    color: #C3CE64;
}

.main.lojas h1, .cadastro-empresa{
    display: inline-block;
}

.main.lojas h1{
    font-size: 180%;
}

.cadastro-empresa:hover{
    transition: ease-out;
    transform: scale(108%);
}

.paginacao-lojas{
    display: flex;
    justify-content: center;
    padding: 60px 30px 50px 0;
}

.paginacao-lojas img{
    border-radius: 30px;
}

.espacamento{
    padding-left: 35px;
}

.paginacao{
    line-height: 60px;
    font-size: 45px;
    display: block;
}

.paginacao a{
    text-decoration: none;
    color: #000;
}

.espacamento-antes{
    padding-right: 30px; 
}

.espacamento-paginas{
    padding-right: 20px;
}

.espacamento-depois{
    padding-left: 10px;
}

.deletar-produtor table{
    box-shadow: 3px 3px 3px 3px #DCDCDC;
    border-radius: 15px;
    width:42%;
    height: 210px;
    position: relative;
    top: 100px;
    left: 310px;
    overflow: auto;
    margin-bottom: 5px;
    background-color: #FFF;
    border-collapse: collapse;
}

.deletar-produtor td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 80px;
}

.deletar-produtor td i{
    font-size: 18px;
    color: #dee69b;
}

.dados:hover{
    background-color:#f5f5f5;
}