.formulario-suporte{
	background-color: #FFF;
	position: absolute;
	width: 80%;
	height: 75%;
	top: 13%;
	left: 10%;
	border-radius: 30px;
	display: flex;
	justify-content: center;
}

.formulario-suporte h1{
	font-size: 165%;
	position: absolute;
	top: 20px;
}

.linha{
	position: absolute;
	left: 5%;
}

.linha.primeira{
	top: 20%;
	font-size: 18px;
}

.linha.segunda{
	top: 30%;
}

input, textarea{
	outline: 0;
	padding-left: 10px;
}

.primeira input{
	font-family: Caviar Dreams;
	border-bottom: 1px solid #ebebeb;
	width: 670px;
	height: 19px;
	padding: 0 0 0 12px;

}

.linha.segunda textarea{
	height: 280px;
	font-size: 14px;
	width: 745px;
	border: 1px solid #ebebeb;
	font-family: Caviar Dreams;
	border-radius: 20px;
	padding-top: 10px;
}

.botao{
	border: 0;
	border-radius: 30px;
	position: absolute;
	top: 215px;
	width: 55px;
	height: 55px;
	right: -23px;
	color: #FFF;
	cursor: pointer;
	background-color: #C3CE64;
}

.botao input{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 30px;
	bottom: -15px;
	right: -16px;
	opacity: 0%;
}

.fas.fa-paper-plane{
	color: #FFF;
	position: absolute;
	bottom: 16px;
	right: 18px;
	font-size: 22px;
}

.botao:hover{
	transition: ease-out;
    transition-duration: 0.3s;
    transform: scale(105%);
}