h1{
	font-size: 180%;
	position: relative;
	top: 25px;
  }
  
  input, select {
	  border: 0;
	  padding-left: 10px;
  }
  
  .box-cadastro {
	z-index: 1;
	background-color: #FFF;
	height: 87%;
	width: 53%;
	border-radius: 30px;
	position: relative;
	padding: 0 71px 0 71px;
  }
  
  .formulario-cadastro {
	line-height: 70px;
	position: relative;
	top: 20px;
  }
  
  .botao-cadastro {
	  color: #FFF;
	  background-color: #C3CE64;
	  border-radius: 30px;
	  width: 96%;
	  height: 34px;
	  cursor: pointer;
	  transition: box-shadow 0.3s cubic-bezier(0, 1.01, 0.37, 1.01);
  }
  
  .botao-cadastro:hover{
	box-shadow: 0 0 0 2px #C3CE64;
  }
  
  .linha input, select{
	box-shadow: 3px 3px 3px 0 #e5e4e2;
	height: 30px;
	border-radius: 20px;
  }
  
  .linha.primeira input{
	width: 75%;
  }

  .linha.segunda input{
  	width: 81%;
  }
  
  .linha.terceira input {
	width: 77%;
  }
  
  .linha.quarta input {
	width: 39%;
  }
  
  
  .linha.quinta input {
	  width: 41%;
  }
  
  .linha.sexta input {
	  width: 83%;
  }
  