*{
    font-family: Caviar Dreams;
}

.suporte{
    top: 9%;
}

.suporte span{
    border-bottom: 1px solid #ebebeb;
}

.linha{
    font-size: 17px;
    margin-bottom: 16px;
}

.primeira{
    top: 0;
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
}

.segunda{
    top: 0;
    display: inline-block;
}

.terceira{
    height: 250px;
    font-size: 16px;
    width: 720px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding: 10px;
}

form, button{
    display: inline;
    font-size: 16px;
    margin-left: 10px;
}

input, button{
    border: 0;
    width: 100px;
    height: 30px;
    background-color: #c3c65b;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}

a{
    color: #FFF;
}

input:hover, button:hover{
    background-color: #000;
}