.fundo-senha, .fundo-editar-perfil{
	background-color: #FFF;
	border-radius: 20px;
	position: relative;
	top: 100px;
	box-shadow: 3px 3px 3px 3px #DCDCDC;
}

.perguntas{
	padding-left: 15px;
}

.respostas{
	padding-right: 15px;
}