.suporte{
    width: 60%;
    height: 70%;
    top: 2%;
    left: 20%;
    position: relative;
    text-align: center;
    background-color: #FFF;
    border-radius: 30px;
    padding: 30px;
    line-height: 30px;
}

.suporte h1{
    font-size: 150%;
}

input, textarea, select{
    font-size: 15px;
}

input, select{
    outline: 0;
    height: 19px;
    font-family: Caviar Dreams;
    border-bottom: 1px solid #ebebeb;
    background-color: #FFF;
}

.primeira select{
    width: 155px;
    padding: 0 0 0 5px;
    height: 30px;
}

.linha.primeira input{
    width: 403px;
    padding: 0 0 5px 12px;
}

.linha.segunda input{
    width: 670px;
    padding: 0 0 5px 12px;
}

.primeira{
    position: relative;
    top: 10px;   
}

.segunda{
    position: relative;
    top: 20px;
}

.linha.terceira{
    position: relative;
    top: 40px;
}

.suporte textarea{
    outline: 0;
    height: 270px;
    font-size: 14px;
    width: 730px;
    border: 1px solid #ebebeb;
    font-family: Caviar Dreams;
    border-radius: 20px;
    padding: 10px;
}

.botao{
    width: 50px;
    height: 50px;
    background-color: #c3ce64;
    border-radius: 100px;
    float: right;
    position: relative;
    left: 56px;
    bottom: 185px;
}

.botao i{
    color: #FFF;
    font-size: 21px;
    position: absolute;
    top: 13px;
    left: 0;
}

.botao input{
    position: relative;
    top: -34px;
    left: -12px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    opacity: 0%;
    cursor: pointer;
    z-index: 1;
}