.editar-perfil form {
    display: flex;
    justify-content: center;
    line-height: 80px;
    top: 70px;
    position: relative;
    font-size: 19px;
}

.editar-perfil td{
	width: 205px;
}

.editar-perfil input, .editar-perfil select{
	outline: 0;
	font-family: Caviar Dreams;
	padding-left: 10px;
	font-size: 15px;
	height: 30px;
	width: 200px;
	border-radius: 2px;
	border-bottom: 1px solid #ebebeb;
}

.editar-perfil select{
	width: 213px;
	background-color: #FFF;
}

.botao input{
	color: #FFF;
	background-color: #C3CE64;
	border-radius: 30px;
	width: 96%;
	height: 34px;
	cursor: pointer;
	transition: background-color .2s;
}

.botao input:hover{
	background-color: #333;
}

.fas.fa-camera{
    position: relative;
    right: 0px;
    bottom: 23px;
    color: #fff;
}

#tamanho {
    position: absolute;
    background: #696969;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    top: 88px;
    right: 472px;
}

#tamanho:hover{
    cursor: pointer;
    background: #333;
    transition: background .2s;
}

.main-aside-produtor {
    height: 870px;
}

.foto-usuario img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

input[type='file']{
    display: none;
}