.adicionar-produtos{
	background-color: #FFF;
	height: 310px;
	width: 602px;
	position: relative;
	top: 30px;
	left: 380px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 3px #DCDCDC;
}

.adicionar-produtos h3{
	position: absolute;
	top: 20px;
	font-size: 140%;
}

form{
    width: 88%;
    height: 62%;
    position: absolute;
    font-size: 19px;
    left: 6%;
    top: 20%;
    line-height: 50px;
}

.primeira input, .segunda input, .terceira input{
	border-bottom: 1px solid #ebebeb;
	outline: 0;
	height: 25px;
	font-family: Caviar Dreams;
	font-size: 15px;
}

.primeira input{
	width: 37%;
}

.segunda input{
	width: 81%;
}

.terceira{
	height: 50px;
}

.terceira input{
	width: 27.5%;
}

.quinta{
	width: 530px;
	height: 50px;
}

.botao{
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 30px;
	background-color: #C3CE64;
	float: right;
	left: 64px;
	color: #FFF;
	bottom: 30px;
}

.botao i{
	position: absolute;
	font-size: 22px;
	right: 27%;
	top: 28%;
}

.botao input{
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 30px;
	right: -11px;
	bottom: -18px;
	opacity: 0%;
	cursor: pointer;
}


.botao:hover{
	transition: ease-out;
    transition-duration: 0.2s;
    transform: scale(105%);
}

.tabela-produto table{
	box-shadow: 3px 3px 3px 3px #DCDCDC;
	border-radius: 15px;
	width: 602px;
	height: 323px;
	position: relative;
	top: 100px;
	left: 380px;
	overflow: auto;
	margin-bottom: 5px;
	background-color: #FFF;
	border-collapse: collapse;
}

.tabela-produto td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 137px;
}

.tabela-produto a{
	text-decoration: none;
	position: relative;
	top: 0;
	left: 0;
	font-size: 18px;
	color: #dee69b;
}

.tabela-produto i:hover{
	color: #000;
}

